.App {
    text-align: center;
}

.header {
    position: fixed;
    z-index: 10;
    width: 100vw;
}

.header .home {
    text-decoration: none;
    float: left;
    padding: 20px;
}

.navbar {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
}